{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br/>
    {% if messages %}
        {% if not user.is_authenticated %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    
    <form method="POST" action="{% url 'edit_post' post.user.username post.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card text-bg-secondary border-light mb-3" style="width: 30rem;">
            <h1 class="card-header">EDIT PHOTO POST</h1>
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <li>{{ field|title }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <h1>PHOTO</h1>
                <div class="card" style="width: 18rem; height: 20rem;">
                    <img src="{{post.image.url}}" class="card-img-top profile-photo" alt="...">
                    <div class="card-body">
                    </div>
                  </div>
                
                <hr/>
                <label class="form-label">TITLE: </label>
                <div class="mb-3">
                    {{ form.title }}
                </div>
                <label class="form-label">CAPTION: </label>
                <div class="mb-3">
                    {{ form.caption }}
                </div>
                
                <br/>
                <button type="submit" class="btn btn-light">SAVE</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}