{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br/>
    {% if messages %}
        {% if not user.is_authenticated %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    
    <form method="POST" action="{% url 'user_register' %}">
        {% csrf_token %}
        <div class="card text-bg-secondary border-light mb-3" style="width: 30rem;">
            <h1 class="card-header">Register</h1>
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <li>{{ field|title }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">E-Mail</label>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <br/>
                <button type="submit" class="btn btn-light">Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
